
body{

    background: #1b0534;

    margin: 0;

    color: #000;

    font-family: "Afo"
}

/*-----------------------------------------------------------------------------------------------------------*/

.Encapsulated-Page{

    background:  #fff;

    border: 0.5rem solid #e2e7ec;

    border-radius: 1%;

    width: 85%;

    padding: 2%;

    margin: 6%
}


.Main-Title{

    font-size: 3rem;

    text-shadow: 0 0 0.1rem #000
}


.Subtitle{

    font-size: 1.8rem;

    margin-top: 3.6rem
}


.Paragraph{

    font-size: 1.3rem;

}

