body{

    background: #1b0534; 

    width: 50%;

    margin: auto;

    font-family: "Afo";

    color: #ffffff;

}


html{

    scroll-padding-top: 6rem;

}


header{

    position: sticky; 

    top: 0.5rem;
    
    z-index: 10;

    width: 85%;

    margin: auto;
}


.Important-Words, .Important-Words-Proyects {

    color: #40E0D0
}


.Scroll-Bar-Navigation{

    background: #2C1A4A;

    padding: .1px;

    border-radius: 9999px;

    transition: .3s ease-in-out;

    
}


p{

    font-size: 1.3rem;

    text-wrap: pretty;

    margin-bottom: 3%;
}


ul{

    display: flex;

    justify-content: space-evenly
}


li{

    list-style: none;

    font-size: 1.3rem
}


a{
    color: #fff;

    text-decoration: none
}


.Link-Contact:hover, .Links-Navigation:hover{

    color: #40E0D0
}


.Profile-Photo{

    width: 7rem;

    height: 7rem;

    border-radius: 50%;

    box-shadow: 0 0 .3rem #abb2b9;

    margin-top: 25%;
}


h1{

    font-size: 3.5rem;

    margin: 0
}


.Image-Project{

    width:100%;

    height: auto;

    border-radius: 1%;

    box-shadow: 0 0  .5rem #1b0534;

    
   
    border-radius: 8px; /* Bordes redondeados para la imagen */
    

    
}


.Image-Project:hover {
    transform: translateY(-3px); /* Se mueve 3px hacia arriba */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* La sombra se intensifica */
}

.a {

        display: block; 

        width: 100%
}

.Encapsulated-Links-Proyects{

    width: fit-content; 

    display: flex;

    margin: 0 auto;   
        
    margin-top: 5%;

    gap: 2rem

}


.Encapsulated-Links{

    display: flex;

    gap: 1.2rem
}


.Paragraph-Presentation{

    font-size: 1.4rem;
    
    margin-top:.5rem
}


.Link-Contact{

  display: flex; 
  
 

  text-decoration: none;

  gap: .5rem;

  font-size: 1.2rem;

  background: #2C1A4A;

  border-radius: 9800px;

  padding: .6rem .9rem .6rem .9rem;

  border: #1b0534 .2px solid

}


.Link-Contact:hover{

    border: #fff .2px solid;

    color: #000;

    background: #fff;
}



section{

    margin-bottom: 25%;

    
}


.Section-Header{

    display: flex;

    align-items: center;

    gap: .6rem
}


.Section-Icon{

    width: 2.5rem;

    height: 2.5rem;

    filter: drop-shadow(1px  1px 1px #abb2b9); 
}


h2{

    font-size: 2.7rem;

    margin: 0
}


.g{

    width: 100%;

    background: #270852;

    padding: 3rem 3rem 3rem 3rem;

    border-radius: 2%;

    transition: box-shadow .8s ease-in-out;
    

}

.g:hover{

    box-shadow: 0 0 .4rem #fff
}



.Section-Proyects{

    display: flex;

    width: 90%;

    gap: 3rem;

    border-radius: 1.5%;

    margin-top: 5%;

   
    
}

.About-Photo{

    width: 21.5rem;

    height: 16.5rem;

    border-radius: 3%;

    transform: rotate(370deg);

    margin-top: 5%;

    outline-width: .1rem;

    outline-color: #abb2b9;

    outline-style: solid;

    outline-offset: 10px;

    
}

#Sobre-Mi{

    display: flex;

    gap: 4rem;

    order: -1;

    margin: 0;
}




h3{

    font-size: 1.8rem;

    margin-bottom: 5%;
    
}

.Parrafomi{

    font-size: 1.2REM;

}

.Paragraph-Section-Proyects{

    font-size: 1.2rem;

    text-wrap: pretty;

    margin-bottom: 7%;
}



.Icons-Links{

    width: 1.4rem;

    height: 1.4rem;

}


.Location-Info{

    display: flex;

    align-items: center;

    gap: .5rem;

    margin-top: 3%;

    margin-bottom: 25%;
}


.Skills-Grid{

    display: grid;

    grid-template-columns: repeat(3,.3fr);

    width: fit-content;

    margin: auto;

    margin-top: 5%
}


time, .Location{

    color: #abb2b9;
    
    font-size: 1.2rem
}


.Skill-Icon{

    background: #270852;

    padding: 1.8rem;

    border-radius: 2%
}


#Button-Restart{

    background: none;

    border: none;

    display: block;

    margin: auto;

    margin-top: 5%; 

    cursor:pointer;
}


.Footer-Section{

    border-radius: 2%;

    margin-bottom: 5%;

    text-align: center;
}



.Phrase{

    font-size: 1.4rem;

    text-align: center;
}


.Copyright{

    color: #abb2b9;

    font-size: 1.2rem;
}




form{

    background: #270852;
    

    margin: auto;

    width: 45%;

    padding: 3% 8% 3% 8% ;

    border-radius: 5%;

    transition: box-shadow .8s ease-in-out;

    margin-bottom: 10%;

    border: #abb2b9 groove 2px;

}

form:hover{

    box-shadow: 0 0 .5rem #fff
    

}



.Title-Form{

    font-size: 2.2rem;

    margin-bottom: 10%;

    animation-name: Levitacion;

    animation-duration: 1s;

    animation-iteration-count: infinite;

    animation-timing-function: ease-in-out;
    

}

@keyframes Levitacion {
    
    0% {

        transform: translateY(0);

    } 50% {

        transform: translateY(-10px);
    } 100% {

        transform: translateY(0);
    }
}


hr{

    margin-bottom: 12%;
}


label{

    font-size: 1.2rem ;

    color: #ffffff;
    
}

input, textarea{

    font-family: "Afo";

    font-size: 1rem;
    
    display: block;

    margin-bottom: 8%;

    padding: 2px;

    width: 100%;

    border-bottom: #abb2b9 solid 2px;

    border-right: #abb2b9 solid 2px;

    outline: none;

    border-radius: 2%;

    background: #2C1A4A;

    color: #fff;

    margin-top: 1.5%;
}

textarea{

    max-width: 100%;

    max-height: 6rem;

    min-width: 100%;

    min-height: 6rem;
}


input:focus, textarea:focus, .Button-Send:hover{

    box-shadow: 0 0 .3rem #abb2b9
}

.Button-Send{

    width: 30%;

    display: block;

    margin: auto;

    margin-top: 14%;

    font-size: 1.3rem;
    
    font-family: "Afo";

    background: #fff;

    color: #000;

    cursor: pointer;

    border-radius: 9990px;

}




.Card-Container{

    perspective: 1000px;
}

.Card{

    position: relative;

    width: 18rem;

    margin-top: 13%;

    transform-style: preserve-3d;

    transition: transform 0.6s ease-in-out;
}


.Front, .Back{

    position: absolute;

    width: 100%;

    border-radius: 2%;

    backface-visibility: hidden;
}

.Front{

    background: #40E0D0;

    display: flex;

    height: 14rem;

    width: 100%;

    justify-content: center;

    align-items: center;

    transform: rotateY(0deg);
}

.Back{

    background: #E6E6FA;

    display: flex;

    height: 14rem;

    width: 100%;


    justify-content: center;

    align-items: center;

    transform: rotateY(180deg);
}

.Card-Container:hover .Card{

    transform: rotateY(180deg);
}


@media (min-width: 330px) and (max-width: 630px) {

    
    body {

        width: 90%
    }

    header{

        width: 95%;
    }
    
    
    #Sobre-Mi{

    display: flex;

    flex-wrap: wrap;

    gap: 4rem;

    }

    .About-Photo{

        width: 12rem;

        height: 12rem;

        margin: auto;

        order: -1;

        margin-top: 16%;
    }


    .Link-Contact{

        padding: .5rem 1rem .5rem 1rem;
    }
    
    p{

        font-size: 1.2rem;

        text-wrap: pretty;
    }
    
    .Paragraph-Section-Proyects{

    font-size: 1.2rem;

    text-wrap: pretty
}

    h2{

        font-size: 2rem;
    }


    li {
        font-size: 1rem; 
    }

    ul{
        padding-inline-start: 0%;
        
    }
    

    .Paragraph-Presentation{

        font-size: 1.2rem;
    }
    

    h1{
        font-size: 2.3rem; 

        white-space: nowrap;
    }

  
    .Section-Proyects{

        flex-direction: column
    }

    
    .Image-Project{

        width: 100% 
    }


    .Skill-Icon{

        padding: .8rem; 
        
        width: 80px;
    }

    
    .a {
        display: block; 

        width: 100%; 
    }

    .Encapsulated-Links-Proyects{

        width: fit-content; 

        margin: 0 auto;   
        
        margin-top: 10%;

        gap: 2rem;
    }

    form{

        width: 75%;
    }

    .Button-Send{

        padding: .3rem 1rem .3rem 1rem;

        width: 40%;

    }

    .g{

        width: 80%;
    }
}



@media (min-width: 630px) and (max-width: 1010px) {

 
    body{

        width: 80%;
    }

    header{

        width: 95%;
    }

    .Section-Proyects{

        width: 85%;

        flex-direction: column;
    }


    .Image-Project{

        width: 100%;

        border-radius: 3%;
    }

    
    li{
        font-size: 1.1rem
    }


    .Scroll-Bar-Navigation{

       padding-inline-start: 0% 
    }

    p{

        text-wrap: pretty 
    }

    
   
    .a {

        display: block; 

        width: 100%
    }

    .Encapsulated-Links-Proyects{

        width: fit-content; 

        margin: 0 auto;   
        
        margin-top: 5%;

        gap: 7rem
    }

    form{

        width:70% ;
    }
}


@media (min-width: 1024px) and (max-width: 1400px) {


    .Section-Proyects{

        flex-direction: column;
    }

     header{

        width: 95%;
    }

    .Image-Project{

        width: 100%;
    }
    
    p{
        text-wrap: pretty;
    }

    h1{

        font-size: 3.5rem;
    }


    ul{
        padding-inline-start: 0%;
    }

    .a {

        display: block; 

        width: 100%
    }

    .Encapsulated-Links-Proyects{

        width: fit-content; 

        margin: 0 auto;   
        
        margin-top: 5%;

        gap: 7rem
    }


    form{

        width: 65%;
    }
   
}
