body{

    background: #1b0534; 

    width: 50%;

    margin: auto;

    font-family: "Afo";

    color: #ffffff
}


html{

    scroll-padding-top: 6rem;

}


header{

    margin-bottom: 25%;

    position: sticky; 

    top: 0.5rem;
    
    z-index: 10
}


.Important-Words, .Important-Words-Proyects {

    color: #40E0D0
}


.Scroll-Bar-Navigation{

    background: #250d46;

    padding: .1px;

    border-radius: 9999px;

    transition: .3s ease-in-out
}


p{

    font-size: 1.3rem;

    text-wrap: pretty;

    margin-bottom: 3%;
}


ul{

    display: flex;

    justify-content: space-evenly
}


li{

    list-style: none;

    font-size: 1.3rem;
    
}


a{
    color: #fff;

    text-decoration: none
}


.Link-Contact:hover, .Links-Navigation:hover{

    color: #40E0D0
}


.Profile-Photo{

    width: 7rem;

    height: 7rem;

    border-radius: 50%;

    box-shadow: 0 0 .3rem #abb2b9
}


h1{

    font-size: 3.5rem;

    margin: 0
}


.Image-Project{

    width: 40%;

    border-radius: 5%;

    box-shadow: 0 0  .5rem #1b0534;

    margin-top: 6%
}


.Encapsulated-Links, .Encapsulated-Links-Proyects{

    display: flex;

    gap: 1.2rem
}


.Paragraph-Presentation{

    font-size: 1.4rem;
    
    margin-top:.5rem
}


.Link-Contact{

  display: flex; 
  
  align-items: center;

  text-decoration: none;

  gap: .5rem;

  font-size: 1.2rem;

  background: #2C1A4A;

  border-radius: 9800px;

  padding: .5rem 1.5rem .5rem 1.5rem;

  border: #1b0534 .2px solid
}


.Link-Contact:hover{

    border: #fff .2px solid
}



section{

    margin-bottom: 25%
}


.Section-Header{

    display: flex;

    align-items: center;

    gap: .6rem
}


.Section-Icon{

    width: 2.5rem;

    height: 2.5rem
}


h2{

    font-size: 2.7rem;

    margin: 0
}


.Section-Proyects{

    display: flex;

    gap: 1.5rem;

    border-radius: 1.5%;

    padding: 1.5rem 3rem 3rem 3rem;

    margin-top: 5%;

    background: #270852;

    transition: box-shadow .8s ease-in-out;
    
}


.Section-Proyects:hover{

    box-shadow: 0 0 .4rem #fff
}



h3{

    font-size: 1.8rem;

    margin-bottom: 5%;
}


.Paragraph-Section-Proyects{

    font-size: 1.2rem;

    text-wrap: pretty
}



.Icons-Links{

    width: 1.4rem;

    height: 1.4rem;

    color: #abb2b9;

}


.Location-Info{

    display: flex;

    align-items: center;

    gap: .5rem;

    margin-top: 8% 
}


.Skills-Grid{

    display: grid;

    grid-template-columns: repeat(3,.3fr);

    width: fit-content;

    margin: auto;

    margin-top: 5%
}


time, .Location{

    color: #abb2b9;
    
    font-size: 1.2rem
}


.Skill-Icon{

    background: #270852;

    padding: 1.8rem;

    border-radius: 2%
}


#Button-Restart{

    background: none;

    border: none;

    display: block;

    margin: auto;

    margin-top: 5%; 

    cursor:pointer;
}


.Footer-Section{

    border-radius: 2%;

    margin-bottom: 5%;

    text-align: center;
}



.Phrase{

    font-size: 1.4rem;

    text-align: center;
}


.Copyright{

    color: #abb2b9;

    font-size: 1.2rem;
}




form{

    background: #270852;

    margin: auto;

    width: 45%;

    padding: 3% 8% 3% 8% ;

    border-radius: 5%;

    transition: box-shadow .8s ease-in-out;

    margin-bottom: 10%;

    border: #abb2b9 groove 5px;

}

form:hover{

    box-shadow: 0 0 .5rem #fff
    

}



.Title-Form{

    font-size: 2rem;

    margin-bottom: 10%;

    color:#abb2b9;
}

label{

    font-size: 1.2rem ;

    color: #ffffff;
    
}

input, textarea{

    font-family: "Afo";

    font-size: 1rem;
    
    display: block;

    margin-bottom: 8%;

    padding: 2px;

    width: 100%;

    border: #abb2b9 solid 2.5px;

    outline: none;

    border-radius: 2%;

    background: #fff;
}

textarea{

    max-width: 100%;

    max-height: 6rem;

    min-width: 100%;

    min-height: 6rem;
}


input:focus, textarea:focus, .Button-Send:hover{

    box-shadow: 0 0 .2rem #abb2b9;
}

.Button-Send{

    width: 30%;

    display: block;

    margin: auto;

    margin-top: 14%;

    font-size: 1.3rem;
    
    font-family: "Afo";

    background: #fff;

    cursor: pointer;

    border-radius: 9990px;

}




.Photo-Contact{

    width: 15rem;

    height: 15rem;

    border-radius: 5%;
}


.Card-Container{

    perspective: 1000px;
}

.Card{

    position: relative;

    width: 18rem;

    margin-top: 13%;

    transform-style: preserve-3d;

    transition: transform 0.6s ease-in-out;
}


.Front, .Back{

    position: absolute;

    width: 100%;

    border-radius: 2%;

    backface-visibility: hidden;
}

.Front{

    background: #40E0D0;

    display: flex;

    height: 14rem;

    width: 100%;

    justify-content: center;

    align-items: center;

    transform: rotateY(0deg);
}

.Back{

    background: #E6E6FA;

    display: flex;

    height: 14rem;

    width: 100%;


    justify-content: center;

    align-items: center;

    transform: rotateY(180deg);
}

.Card-Container:hover .Card{

    transform: rotateY(180deg);
}


@media (min-width: 330px) and (max-width: 630px) {

    
    body {

        width: 90%
    }
    
    .Section-Proyects{

        padding: 1.5rem 2rem 2rem 2rem;
    }
    .Link-Contact{

        padding: .5rem 1rem .5rem 1rem;
    }
    
    p{

        font-size: 1.2rem;

        text-wrap: pretty;
    }
    
    .Paragraph-Section-Proyects{

    font-size: 1.2rem;

    text-wrap: pretty
}

    h2{

        font-size: 2rem;
    }


    li {
        font-size: 1rem; 
    }

    ul{
        padding-inline-start: 0%;
        
    }
    

    .Paragraph-Presentation{

        font-size: 1.2rem;
    }
    

    h1{
        font-size: 2.3rem; 

        white-space: nowrap;
    }

  
    .Section-Proyects{

        flex-direction: column
    }

    
    .Image-Project{

        width: 100% 
    }


    .Skill-Icon{

        padding: .8rem; 
        
        width: 80px;
    }

    
    .a {
        display: block; 

        width: 100%; 
    }

    .Encapsulated-Links-Proyects{

        width: fit-content; 

        margin: 0 auto;   
        
        margin-top: 10%;
    }
}



@media (min-width: 630px) and (max-width: 1010px) {

 
    body{

        width: 80%;
    }


    .Section-Proyects{

        width: 85%;

        flex-direction: column;
    }


    .Image-Project{

        width: 100%;
    }

    
    li{
        font-size: 1.1rem
    }


    .Scroll-Bar-Navigation{

       padding-inline-start: 0% 
    }

   
    .a {

        display: block; 

        width: 100%
    }

    .Encapsulated-Links-Proyects{

        width: fit-content; 

        margin: 0 auto;   
        
        margin-top: 5%;

        gap: 7rem
    }
}


@media (min-width: 1024px) and (max-width: 1400px) {


    .Section-Proyects{

        flex-direction: column;
    }


    .Image-Project{

        width: 100%;
    }
    

    h1{

        font-size: 3.5rem;
    }


    ul{
        padding-inline-start: 0%;
    }

    .a {

        display: block; 

        width: 100%
    }

    .Encapsulated-Links-Proyects{

        width: fit-content; 

        margin: 0 auto;   
        
        margin-top: 5%;

        gap: 7rem
    }

   
}
